{% extends 'base_auth.html' %}

{% block header %}
  <h1>{% block title %}Pieteikties{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <div class="auth-input">
        <input name="username" id="username" placeholder="Ievadiet lietoājvārdu" required/>
        <input type="password" name="password" id="password" placeholder="Ievadiet paroli" required></input>
    </div>
    <br/><hr/>
    <div class="auth-button">
        <button type="submit">Pieteikties</button>
    </div>
  </form>
{% endblock %}
