{% extends 'base_auth.html' %}

{% block header %}
  <h1>{% block title %}Pieteikties{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <div class="auth-input">
      <div class="login-info">
        <input name="lietv" id="lietv-login" placeholder="Ievadiet lietoājvārdu" required/>
        <input type="password" name="parole" id="parole-login" placeholder="Ievadiet paroli" required></input>
      </div>
    </div>
    <br/><hr/>
    <div class="auth-button">
        <button type="submit">Pieteikties</button>
    </div>
  </form>
{% endblock %}
