{% extends 'base_auth.html' %}

{% block header %}
  <h1>{% block title %}Reģistrēties{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    <div class="auth-input">
      <div class="login-info">
        <label for="lietv">Pieteikšanās info:</label><br>
        <input name="lietv" id="lietv" placeholder="Lietoājvārds" required>
        <input type="password" name="parole" id="parole"
                placeholder="Parole" required>
      </div>
      <div class="person-info">
        <label for="vards">Personas dati:</label><br>
        <input name="vards" id="vards" placeholder="Vārds" required>
        <input name="uzv" id="uzv" placeholder="Uzvārds" required>
        <input name="pers_kods" id="pers_kods"
                placeholder="Personas kods" required>
      </div>
      <div class="work-info">
        <label for="poz_id">Darba stāža:</label><br>
        <input name="poz_id" id="poz_id" placeholder="Pozīcija" required>
        <input name="proj_id" id="proj_id" placeholder="Projekts" required>
        <input name="biroj_id" id="biroj_id" placeholder="Birojs" required>
      </div>
      <div class="contact-info">
        <label for="email">Kontakti:</label><br>
        <input type="email" name="epasts" id="epasts"
                placeholder="E-pasts" required>
        <input name="tel_num" id="tel_num"
                placeholder="Telefona numurs" required>
      </div>
      <div class="profile-pic">
        <label for="file">Profila bilde:</label><br>
        <input type="file" name="file">
      </div>
    </div>
    <br/><hr/>
    <div class="auth-button">
      <button type="submit" value="Register">Reģistrēties</button>
    </div>
  </form>
{% endblock %}
