{% extends 'base_auth.html' %}

{% block header %}
  <h1>{% block title %}Reģistrēties{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <div class="auth-input">
      <input name="username" id="username" placeholder="Ievadiet lietoājvārdu" required>
      <input type="password" name="password" id="password" placeholder="Ievadiet paroli" required>
    </div>
    <br/><hr/>
    <div class="auth-button">
      <button type="submit" value="Register">Reģistrēties</button>
    </div>
  </form>
{% endblock %}
