{% extends 'base_auth.html' %}

{% block header %}
  <h1>{% block title %}Reģistrēties{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    <div class="auth-input">
      <div class="login-info">
        <label for="lietv">Pieteikšanās info:</label><br>
        <input name="lietv" id="lietv" placeholder="Lietotājvārds">
        <input type="password" name="parole" id="parole"
                placeholder="Parole" required>
      </div>
      <div class="person-info">
        <label for="vards">Personas dati:</label><br>
        <input name="vards" id="vards" placeholder="Vārds" required>
        <input name="uzv" id="uzv" placeholder="Uzvārds" required>
        <input name="pers_kods" id="pers_kods"
                placeholder="Personas kods" required>
      </div>
      <div class="work-info">
        <label for="pozicija">Darba stāža:</label><br>
        <select id="pozicija" name="pozicija" required>
          {% for pozicija in t_pozicijas %}
            {% if pozicija['pozicija'] != 'Administrators' %}
            <option value="{{ pozicija['pozicija'] }}">
              {{ pozicija['pozicija'] }}
            </option>
            {% endif %}
          {% endfor %}
        </select>
        <select id="projekts" name="projekts" required>
          {% for projekts in t_projekti %}
            <option value="{{ projekts['projekts'] }}">
              {{ projekts['projekts'] }}
            </option>
          {% endfor %}
        </select>
        <select id="birojs" name="birojs" required>
          {% for birojs in t_biroji %}
            <option value="{{ birojs['birojs'] }}">
              {{ birojs['birojs'] }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="contact-info">
        <label for="email">Kontakti:</label><br>
        <input type="email" name="epasts" id="epasts"
                placeholder="E-pasts" required>
        <input name="tel_num" id="tel_num"
                placeholder="Telefona numurs" required>
      </div>
      <div class="profile-pic">
        <label for="profil_bild_cels">Profila bilde:</label><br>
        <input type="file" name="profil_bild_cels">
      </div>
    </div>
    <br/><hr/>
    <div class="auth-button">
      <button type="submit" value="Register">Reģistrēties</button>
    </div>
  </form>
{% endblock %}
