BEGIN TRANSACTION;
DELETE FROM "sqlite_sequence";
INSERT INTO "sqlite_sequence" VALUES('t_darbibas',4);
INSERT INTO "sqlite_sequence" VALUES('t_pilsetas',8);
INSERT INTO "sqlite_sequence" VALUES('t_projekti',40);
CREATE TABLE t_biroji (
  biroj_id INTEGER PRIMARY KEY AUTOINCREMENT,
  birojs TEXT UNIQUE NOT NULL,
  pils_id INTEGER NOT NULL,
  FOREIGN KEY (pils_id) REFERENCES t_pilsetas (pils_id)
);
INSERT INTO "t_biroji" VALUES(1,'Rīga_1',1);
INSERT INTO "t_biroji" VALUES(2,'Rīga_2',1);
INSERT INTO "t_biroji" VALUES(3,'Rīga_3',1);
CREATE TABLE t_darbibas (
  darb_id INTEGER PRIMARY KEY AUTOINCREMENT,
  darbiba TEXT UNIQUE NOT NULL
);
INSERT INTO "t_darbibas" VALUES(1,'pievienoja');
INSERT INTO "t_darbibas" VALUES(2,'rediģēja');
INSERT INTO "t_darbibas" VALUES(3,'paņēma');
CREATE TABLE t_ieraksti (ierakst_id INTEGER PRIMARY KEY AUTOINCREMENT, vienum_id INTEGER NOT NULL, liet_id INTEGER NOT NULL, darb_id INTEGER NOT NULL, noris_laiks TIMESTAMP NOT NULL DEFAULT ((datetime('now', 'localtime'))), FOREIGN KEY (liet_id) REFERENCES t_lietotaji (liet_id), FOREIGN KEY (darb_id) REFERENCES t_darbibas (darb_id));
INSERT INTO "t_ieraksti" VALUES(1,1,199,1,'2020-10-09 15:34:13');
INSERT INTO "t_ieraksti" VALUES(2,2,199,1,'2020-10-09 15:34:13');
INSERT INTO "t_ieraksti" VALUES(3,3,199,1,'2020-10-09 15:34:13');
CREATE TABLE t_kategorijas (
  kateg_id INTEGER PRIMARY KEY AUTOINCREMENT,
  kategorija TEXT UNIQUE NOT NULL
);
INSERT INTO "t_kategorijas" VALUES(1,'Portatīvie datori');
INSERT INTO "t_kategorijas" VALUES(2,'Monitori');
INSERT INTO "t_kategorijas" VALUES(3,'Telefoni/Planšetes');
CREATE TABLE t_komentari (koment_id INTEGER PRIMARY KEY AUTOINCREMENT, komentars TEXT NOT NULL, vienum_id INTEGER NOT NULL, liet_id INTEGER NOT NULL, noris_laiks TIMESTAMP (6) NOT NULL DEFAULT ((datetime('now', 'localtime'))), FOREIGN KEY (vienum_id) REFERENCES t_vienumi (vienum_id), FOREIGN KEY (liet_id) REFERENCES t_lietotaji (liet_id));
INSERT INTO "t_komentari" VALUES(17,'asdafsd',169,199,'2020-10-18 05:09:00');
INSERT INTO "t_komentari" VALUES(18,'hfdgdf',169,199,'2020-10-18 08:10:04');
INSERT INTO "t_komentari" VALUES(19,'hello',169,199,'2020-10-18 08:12:31');
CREATE TABLE t_lietotaji (liet_id INTEGER PRIMARY KEY AUTOINCREMENT, lietv TEXT UNIQUE NOT NULL, parole TEXT NOT NULL, vards TEXT NOT NULL, uzv TEXT NOT NULL, poz_id INTEGER NOT NULL, proj_id INTEGER NOT NULL, biroj_id INTEGER NOT NULL, pers_kods INTEGER NOT NULL, epasts TEXT NOT NULL, tel_num INTEGER NOT NULL, profil_bild_cels VARCHAR (10), izveid_dat TIMESTAMP NOT NULL DEFAULT ((datetime('now', 'localtime'))), FOREIGN KEY (poz_id) REFERENCES t_pozicijas (poz_id), FOREIGN KEY (proj_id) REFERENCES t_pozicijas (proj_id), FOREIGN KEY (biroj_id) REFERENCES t_biroji (biroj_id));
INSERT INTO "t_lietotaji" VALUES(1,'anjanette.smith','pbkdf2:sha256:150000$xHW2K3mG$1a22c9925cd7adc562761739b13ba674c700be301a1a27b088f27e98ad226fa6','Anjanette','Smith',3,27,3,'021298-48041','anjanette.smith@datapstrade.lv',25010592,'default.png','2020-10-09 14:51:40');
INSERT INTO "t_lietotaji" VALUES(2,'evania.johnson','pbkdf2:sha256:150000$0BMLW0lb$65836dae221fdced42d58a58579bdd145f1bdd5a5b1a4bf8522c6d031b3bf3aa','Evania','Johnson',3,27,3,'061193-91437','evania.johnson@datapstrade.lv',28832668,'default.png','2020-10-09 14:51:40');
INSERT INTO "t_lietotaji" VALUES(3,'david.bowie','pbkdf2:sha256:150000$NZFafnLN$e0c0c8f6abe38b6aac6ffc76f6c11db9e583b267d940936dc06df053e656a138','David','Bowie',3,20,2,'230788-26295','david.bowie@datapstrade.lv',22659700,'default.png','2020-10-09 14:51:40');
CREATE TABLE t_pilsetas (
  pils_id INTEGER PRIMARY KEY AUTOINCREMENT,
  pilseta TEXT UNIQUE NOT NULL
);
INSERT INTO "t_pilsetas" VALUES(1,'Rīga');
INSERT INTO "t_pilsetas" VALUES(2,'Daugavpils');
INSERT INTO "t_pilsetas" VALUES(3,'Liepāja');
CREATE TABLE t_pozicijas (
  poz_id INTEGER PRIMARY KEY AUTOINCREMENT,
  pozicija TEXT UNIQUE NOT NULL
);
INSERT INTO "t_pozicijas" VALUES(1,'Administrators');
INSERT INTO "t_pozicijas" VALUES(2,'Projekta vadītājs');
INSERT INTO "t_pozicijas" VALUES(3,'Darbinieks');
CREATE TABLE t_projekti (
  proj_id INTEGER PRIMARY KEY AUTOINCREMENT,
  projekts TEXT UNIQUE NOT NULL
);
INSERT INTO "t_projekti" VALUES(1,'Danaher');
INSERT INTO "t_projekti" VALUES(2,'Alcoa');
INSERT INTO "t_projekti" VALUES(3,'Monsanto');
CREATE TABLE t_razotaji (
  razot_id INTEGER PRIMARY KEY AUTOINCREMENT,
  razotajs TEXT UNIQUE NOT NULL
);
INSERT INTO "t_razotaji" VALUES(1,'Apple');
INSERT INTO "t_razotaji" VALUES(2,'HP');
INSERT INTO "t_razotaji" VALUES(3,'Lenovo');
CREATE TABLE t_vienumi (vienum_id INTEGER PRIMARY KEY AUTOINCREMENT, svitr_kods INTEGER NOT NULL, vienum_nosauk TEXT NOT NULL, modelis TEXT NOT NULL, razot_id INTEGER NOT NULL, iss_aprakst TEXT, detalas TEXT NOT NULL, kateg_id INTEGER NOT NULL, biroj_id INTEGER NOT NULL, liet_id INTEGER, bilde_cels VARCHAR (10), nopirkt_dat DATE, izveid_dat TIMESTAMP NOT NULL DEFAULT ((datetime('now', 'localtime'))), atjauninats TIMESTAMP NOT NULL DEFAULT ((datetime('now', 'localtime'))), FOREIGN KEY (kateg_id) REFERENCES t_kategorijas (kateg_id), FOREIGN KEY (biroj_id) REFERENCES t_pilsetas (biroj_id), FOREIGN KEY (liet_id) REFERENCES t_lietotaji (liet_id), FOREIGN KEY (razot_id) REFERENCES t_razotaji (razot_id));
INSERT INTO "t_vienumi" VALUES(1,820400518274,'MacBook Pro 15" Mid-2014 16GB/250GB','MGXC2LL/A',1,'','',1,2,1,'default_item.png','2020-06-05','2020-10-09 15:32:27','2020-10-09 15:32:27');
INSERT INTO "t_vienumi" VALUES(2,290310014314,'MacBook Pro 15" Mid-2014 16GB/250GB','MGXC2LL/A',1,'','',1,4,2,'default_item.png','2020-06-05','2020-10-09 15:32:27','2020-10-09 15:32:27');
INSERT INTO "t_vienumi" VALUES(3,558934266559,'MacBook Pro 15" Mid-2014 16GB/250GB','MGXC2LL/A',1,'','',1,3,3,'default_item.png','2020-06-05','2020-10-09 15:32:27','2020-10-09 15:32:27');
COMMIT;
