<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Trakeris</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div class="auth-box">
    <div class="auth-box-logo">
        <p>Trakeris</p>
    </div>
    {% if g.user %}
      <span>Jūs jau esat ielogojies kā {{ t_lietotaji['lietv'] }}.</span>
      <a href="{{ url_for('auth.logout') }}">Izrakstīties?</a>
      <br>
      <span>Atgriezties uz <a class="return-home" href="{{ url_for('index') }}"> Mājaslapu?</a></span>
    {% else %}
      <section class="content">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        <div class="auth-box-body" >
            <ul>
              {% if g.user %}
                <li><span>{{ g.user['lietv'] }}</span>
                <li><a href="{{ url_for('auth.logout') }}">Izrakstīties</a>
              {% else %}
                {% if request.endpoint == "auth.register" %}
                  <li><span>Reģistrācija</span>
                  <li><a href="{{ url_for('auth.login') }}" class="title">Pieteikties</a>
                {% else %}
                  <li><span>Pieteikšanās</span>
                  <li><a href="{{ url_for('auth.register') }}">Reģistrēties</a>
                {% endif %}
              {% endif %}
            </ul>

          {% block content %}{% endblock %}
        </div>
      </section>
    {% endif %}
</div>
