<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Trakeris</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_item.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_body.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_view.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/administration.css') }}">

  <script src="{{url_for('static', filename='js/user_input.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{url_for('static', filename='js/jq_filters.js')}}"></script>
  <script src="{{url_for('static', filename='js/overlay.js')}}"></script>
  <script src="{{url_for('static', filename='js/edit.js')}}"></script>
  <script src="{{url_for('static', filename='js/view.js')}}"></script>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
  <div class="topnav sticky">
    <ul>
        <li><a href="#" class="title">Trakeris</a></li>
        <li class="nav-right"><a class="active logout" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Izlogoties</a></li>
    </ul>
</div>
<div class="wrapper">
    <div class="sidebar">
        <div class="user-bar">
            <div class="pull-left image">
                <img src="{{ url_for('static', filename='images/profile_pics/' + g.user['profil_bild_cels']) }}">
            </div>
            <div class="pull-left info">
                <p>{{ g.user['vards'] }} {{ g.user['uzv'] }}</p>
                <a><i class="fa fa-icon icon fa-user  text-success"></i>{{ g.user['pozicija'] }}</a>
            </div>
        </div>
        <ul>
            <li class="main-nav">Galvenā navigācija</li>
            <li><a href="{{ url_for('track.index') }}"><i class="fas fa-box"></i>Viss inventārs</a></li>
            <li><a href="{{ url_for('track.add') }}"><i class="fa fa-plus"></i>Pievienot jaunu vienumu</a></li>
        </ul>
        {% if g.user['pozicija'] == 'Administrators' %}
        <ul>
            <li class="main-nav">Administrācija panelis</li>
            <li><a href="{{ url_for('auth.register') }}"><i class="fas fa-user-plus"></i>Reģistrēt lietotāju</a></li>
            <li><a href="{{ url_for('track.tables') }}"><i class="fas fa-table"></i>Tabulas</a></li>
            <li><a href="{{ url_for('track.queries') }}"><i class="fas fa-database"></i>Vaicājumi</a></li>
            
            <li><a href="{{ url_for('track.relations') }}"><i class="fas fa-code-branch"></i>Relāciju pārskats</a></li>
            {% for a in range(1,30)%}
              <br>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="main_content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
