{% extends "base.html" %}
{% block title %}Apskatīt{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Apskatīt vienumu</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-1 item-info">
        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title">Informācija</h3>
          </div>
          <form class="form-horizontal">
            <div class="box-body">
              <div style="padding: 10px 0px; text-align: center;">
                <h4>Invetāra dati</h4>
              </div>
                <div class="form-group">
                  <h5 class="col">ID</h5>
                  <div class="data">{{ item['vienum_id'] }}</div>
                </div>
                <div class="form-group">
                  <h5 class="col">Svītrkods</h5>
                  <div class="data">{{ item['svitr_kods'] }}</div>
                </div>
                <div class="form-group">
                  <h5 class="col">Birojs</h5>
                  <div class="data">{{ item['birojs'] }}</div>
                </div>
                <div class="form-group">
                  <h5 class="col">Lietotājs</h5>
                  <div class="data">{{ item['lietv'] }}</div>
                </div>
                <div class="form-group">
                  <h5 class="col">Pirkšanas datums</h5>
                  <div class="data">{{ item['nopirkt_dat'] if item['nopirkt_dat'] != "" and item['nopirkt_dat'] != None  else "-"}}</div>
                </div>
                <div class="form-group">
                  <h5 class="col">Izveidots ieraksts</h5>
                  <div class="data">{{ item['izveid_dat'] }}</div>
                </div>
                <div class="form-group">
                  <h5 class="col">Atjaunināts ieraksts</h5>
                  <div class="data">{{ item['atjauninats'] }}</div>
                </div>
              <div style="padding: 10px 0px; text-align: center;">
                <h4>Detalizēta informācija</h4>
              </div>
              <div class="form-group">
                <h5 class="col">Īss apraksts</h5>
                <div class="data">{{ item['iss_aprakst'] if item['iss_aprakst'] != "" and item['iss_aprakst'] != None else "-"}}</div>
              </div>
              <div class="form-group">
                <h5 class="col">Kategorija</h5>
                <div class="data">{{ item['kategorija'] }}</div>
              </div>
              <div class="form-group">
                <h5 class="col">Ražotājs</h5>
                <div class="data">{{ item['razotajs'] if item['razotajs'] != "" and item['razotajs'] != None else "-"}}</div>
              </div>
              <div class="form-group">
                <h5 class="col">Nosaukums</h5>
                <div class="data">{{ item['vienum_nosauk'] }}</div>
              </div>
              <div class="form-group">
                <h5 class="col">Modelis</h5>
                <div class="data">{{ item['modelis'] if item['modelis'] != "" and item['modelis'] != None else "-"}}</div>
                <div class="form-group">
                  <h5 class="col">Pilnais nosaukums</h5>
                  {% if item['modelis'] == "" and item['modelis'] != None %}
                    <div class="data">{{ item['vienum_nosauk'] }}</div>
                  {% else %}
                    <div class="data">{{ item['vienum_nosauk']}} ( {{ item['modelis'] }} )</div>
                  {% endif %}
                </div>
                <div class="form-group">
                  <h5 class="col">bilde</h5>
                  {% if item['bilde_cels'] == 'default_item.png' %}
                    <div class="data"> - </div>
                  {% else %}
                    <img src="{{ url_for('static', filename='images/item_pics/' + item['bilde_cels']) }}">
                  {% endif %}
                </div>
                <div class="form-group">
                  <h5 class="col">Detalizēta informācija</h5>
                  <div class="data">{{ item['detalas'] if item['detalas'] != "" and item['detalas'] != None else "-"}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-2 comments">

      </div>
    </div>
  </section>
  <section class="history">
    <h2>Vēsture</h2>
    <div class="ieraksti">

    </div>
  </section>
{% endblock %}
