{% extends "base.html" %}
{% block title %}Apskatīt{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Apskatīt vienumu</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col_1 item-info">
        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title">Informācija</h3>
          </div>
          <form class="form-horizontal" method="post">
            <div class="box-body">
              <div style="padding: 10px 0px; text-align: center;">
                <h4>Invetāra dati</h4>
              </div>
                <div class="form-group">
                  <label class="col">ID</label>
                  <span class="data">{{ item['vienum_id'] }}</span>
                </div>
                <div class="form-group">
                  <label class="col">Svītrkods</label>
                  <span class="data">{{ item['svitr_kods'] }}</span>
                </div>
                <div class="form-group">
                  <label class="col">Birojs</label>
                  <span class="data">{{ item['birojs'] }}</span>
                </div>
                <div class="form-group">
                  <label class="col">Lietotājs</label>
                  <span class="data">{{ item['lietv'] }}</span>
                </div>
                <div class="form-group">
                  <label class="col">Pirkšanas datums</label>
                  <span class="data">{{ item['nopirkt_dat'] if item['nopirkt_dat'] != "" and item['nopirkt_dat'] != None  else "-"}}</span>
                </div>
                <div class="form-group">
                  <label class="col">Izveidots ieraksts</label>
                  <span class="data">{{ item['izveid_dat'] }}</span>
                </div>
                <div class="form-group">
                  <label class="col">Atjaunināts ieraksts</label>
                  <span class="data">{{ item['atjauninats'] }}</span>
                </div>
              <div style="padding: 10px 0px; text-align: center;">
                <h4>Detalizēta informācija</h4>
              </div>
              <div class="form-group">
                <label class="col">Īss apraksts</label>
                <span class="data">{{ item['iss_aprakst'] if item['iss_aprakst'] != "" and item['iss_aprakst'] != None else "-"}}</span>
              </div>
              <div class="form-group">
                <label class="col">Kategorija</label>
                <span>{{ item['kategorija'] }}</span>

              </div>
              <div class="form-group">
                <label class="col">Ražotājs</label>
                <span class="data">{{ item['razotajs'] if item['razotajs'] != '' and item['razotajs'] != None else '-'}}</span>
              </div>
              <div class="form-group">
                <label class="col">Nosaukums</label>
                <span class="data">{{ item['vienum_nosauk'] }}</span>
              </div>
              <div class="form-group">
                <label class="col">Modelis</label>
                <span class="data">{{ item['modelis'] if item['modelis'] != "" and item['modelis'] != None else "-"}}</span>
                <div class="form-group">
                  <label class="col">Pilnais nosaukums</label>
                  {% if item['modelis'] == "" and item['modelis'] != None %}
                    <span class="data">{{ item['vienum_nosauk'] }}</span>
                  {% else %}
                    <span class="data">{{ item['vienum_nosauk']}} ( {{ item['modelis'] }} )</span>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="col">bilde</label>
                  {% if item['bilde_cels'] == 'default_item.png' %}
                    <span class="data"> - </span>
                  {% else %}
                    <img src="{{ url_for('static', filename='images/item_pics/' + item['bilde_cels']) }}">
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="col">Detalizēta informācija</label>
                  <span class="data">{{ item['detalas'] if item['detalas'] != "" and item['detalas'] != None else "-"}}</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="container-container">
        <div class="box-header">
          <h3 class="box-title">Komentāri</h3>
        </div>
        <div id="comments" class="comments">
          <div class="comment-box">
              {% for comment in comments %}
                <div class="comment-box">
                  <h4 class="author">{{ comment['lietv'] }}</h4>
                  <p class="comment">{{ comment['komentars'] }}</p>
                  <small class="date">{{ comment['noris_laiks'] }}</small>
                </div>
              {% endfor %}
          </div>
        </div>
        <div class="footer">
          <form method="post">
            <input type="text" name="komentars" placeholder="Iekomentēt">
            <button type="submit" name="button">Apstiprināt</button>
          </form>
        </div>
      </div>

    </div>
  </section>
  <section class="history">
    <h2>Vēsture</h2>
    <div class="ieraksti">
      {% for ieraksts in history %}
        <div class="ieraksts">
          <span class="lietv">{{ ieraksts['lietv'] }}</span>
          <span class="darbiba">{{ ieraksts['darbiba'] }}</span>
          <span class="noris_laiks">{{ ieraksts['noris_laiks'] }}</span>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
