.content-header{
  position: relative;
  background: rgba(121, 183, 255, 0.04);
  border-bottom: 3px solid black;

}

.content {
  margin: 10px;
  background: rgba(121, 183, 255, 0.09);
  padding-left: 15px;
}

.content img {
  max-width: 100px;
  height: auto;
}
.row {
  width: 100%;
}

.col_1 {
  max-width: 100%;
  width: 500px;
}

.form-group label {
  display: inline-block;
  width: 140px;
  font-weight: bold;
}

.form-group .bilde {
  display: inline-block;

}

.comments{
  overflow: hidden;
  overflow-y: scroll;
  width: 400px;
  height: 600px;
}

.comment-box {

  background: rgba(237, 255, 249, 0.4);
}

.comment-container {

}

.comment-box {
  border: 1px solid black;
}
