{% extends "base.html" %}
{% block title %}View all users{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages%}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <p>| Name || Email |</p>    
        {% for item in values %}
            
            <p>|  {{item.name}}  ||  {{item.email}}  |</p>

        {% endfor %}

    <br/><hr/>
    <form action="#" method="POST">
        <label>Add a New User</label><br/>
        <input type="text" name="add_username" placeholder="Enter Username"/>
        <input type="email" name="add_email" placeholder="Enter Email"/>
        <input type="submit" value="submit"/><br/><hr/>

        <label>Delete an existing User</label><br/>
        <input type="text" name="delete_user" placeholder="Delete this user"/>
        <input type="submit" value="submit"/>
    </form>

{% endblock %}