<!DOCTYPE html>
<html>
<head>  
  <title>Autorizācija</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
<div class="login-box">
    <div class="login-box-logo">
        <p>Trakeris</p>
    </div>
    <div class="login-box-body">
        <form action="#" method="POST">
            <input type="email" name="email" id="email" placeholder="Enter Email"/>
            <input type="password" name="password" id="password"></input>
            
            <button type="submit"></button>
        </form>
    </div>
</div>

</body>
</html>

